{
  "presets": [
    "@babel/preset-env"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./src/app",
          "index": "./src/index",
          "routes": "./src/routes"
        }
      }
    ]
  ]
}
