{
  "presets": [
    "@babel/preset-env"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "config": "./src/config",
          "db": "./src/db",
          "routes": "./src/routes",
          "socket": "./src/socket",
          "utils": "./src/utils",
          "app": "./src/app",
          "index": "./src/index"
        }
      }
    ]
  ]
}
